defaults: &defaults
  working_directory: /go/src/github.com/coretech/terrafile
  docker:
    - image: circleci/golang:1.12.5
      environment:
        GO111MODULE: on

version: 2
jobs:
  build:
    <<: *defaults 
    steps:
      - checkout
      - run:
          name: build_and_test
          command: |
            go build -v
            go test -v
  deploy:
    <<: *defaults
    steps:
      - checkout
      - run: curl -sL https://git.io/goreleaser | bash
workflows:
  version: 2
  release:
    jobs:
      - build:
          filters:  # required since `deploy` has tag filters AND requires `build`
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
